{% extends 'base.html'%}
{% block title %} Dykkere {% endblock %} 

{% block content %}
    <title>Dykker</title>


<!-- About 2 - Bootstrap Brain Component -->
    <div class="row gy-3 gy-md-4 gy-lg-0 align-items-lg-center">
      <div class="col-12 col-lg-6">
        <img class="img-fluid rounded" loading="lazy" src="static/dykker_fane_dykker.avif" alt="Dykker">
      </div>
      <div class="col-12 col-lg-6">
        <div class="row justify-content-xl-center">
          <div class="col-12 col-xl-10">
            <h2 style="padding-top: 4%;" class="mb-3">Dykkere</h2>
            <h4>Erhvervsdykker undersøgelser og priser(inkl. moms)</h4><br>

            <p class="lead fs-8 mb-3 mb-xl-5"> 
              Helbredsundersøgelse skal foretages hvert år.<br>
              Dette skal ske i henhold til Danmarks Søfartsstyrelsens bekendtgørelse.
              En almindelig fornyelsesundersøgelse tager ca. 40 minutter og koster 1000kr.<br><br>

              <b><u>Medbring:</u></b> dit erhvervsdykkerbevis, briller hvis haves, samt oplysninger fra sygehus eller 
              egen læge, hvis du har haft hospitalsophold eller tager medicin.
            </p>

              <p class="lead fs-8 mb-3 mb-xl-5">
                <h4>Udvidet helbredsundersøgelse af erhvervsdykkere</h4><br>
                <u>For erhvervsdykkere under 50 år</u>, skal der hvert 5. år laves en udvidet helbredsundersøgelse.<br><br>
                <u>For erhvervsdykkere over 50 år</u>, skal den udføres hvert 2. år. <br><br>
                Undersøgelsen tager ca. 1 time og inkluderer bl.a. urin- og blodprøver, EKG (hjertekardiogram), lungefunktionstest og klinisk undersøgelse. Undersøgelsen koster kr. 1400.<br><br>

                <b><u>Medbring:</u></b> dit erhvervsdykkerbevis, briller hvis haves, samt oplysninger fra sygehus eller egen læge, hvis du har haft hospitalsophold eller tager medicin.
              </p>

                <p class="lead fs-8 mb-3 mb-xl-5">
                  <h4>Aspirant undersøgelse for erhvervsdykkere</h4><br>
                  Indeholder det samme som den udvidede helbredsundersøgelse: inkluderer bl.a. urin- og blodprøver, EKG (hjertekardiogram), lungefunktionstest og klinisk undersøgelse.<br><br>
                  <b>OBS: <u>Du skal selv sørge for at få foretaget en røntgenundersøgelse af dine lunger inden undersøgelsen</u>. Denne foretages på en røntgenafdeling/klinik.</b><br><br>
                  Undersøgelsen tager ca. 1,5 timer og koster kr. 3500,- inkl. moms.<br><br>
                  
                  <b><u>Medbring:</u></b> Billedlegitimation, journalkopi, lægebreve og lignenden hvis du har fejlet noget alvorligt tidligere.

                </p>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}