{% extends 'base.html'%}
{% block title %} Dykkere {% endblock %} 

{% block content %}
    <title>Dykkere</title>


<!-- About 2 - Bootstrap Brain Component -->
    <div class="row gy-3 gy-md-4 gy-lg-0 align-items-lg-center">
      <div class="col-12 col-lg-6">
        <img class="img-fluid rounded" loading="lazy" src="static/roald_dyk.jpg" alt="Dykker">
      </div>
      <div class="col-12 col-lg-6">
        <div class="row justify-content-xl-center">
          <div class="col-12 col-xl-10">
            <h3 style="padding-top: 4%;" class="mb-3">Dykkere</h3>
            <h5>Erhvervsdykker undersøgelser og priser (inkl. moms)</h5>
              Helbredsundersøgelse skal foretages hvert år. Dette skal ske i henhold til Danmarks Søfartsstyrelsens bekendtgørelse. <br>
              <p class="lead fs-8 mb-3 mb-xl-5"></p>
              <h5>Almindelig fornyelsesundersøgelse</h5>
               Tager ca. 40 min. og koster 1000 kr.<br>
              <p class="lead fs-8 mb-3 mb-xl-5">
                <h5>Udvidet helbredsundersøgelse af erhvervsdykkere</h5>
                For erhvervsdykkere under 50 år, skal der hvert 5. år laves en udvidet helbredsundersøgelse.<br>
                For erhvervsdykkere over 50 år, skal den udføres hvert 2. år.<br><br>
                Undersøgelsen tager ca. 1 time og inkluderer bl.a. urin- og blodprøver, EKG (hjertekardiogram), lungefunktionstest og klinisk undersøgelse. Undersøgelsen koster 1400 kr.
                <p class="lead fs-8 mb-3 mb-xl-5">
                  <h5>Aspirant undersøgelse for erhvervsdykkere</h5>
                  Indeholder det samme som den udvidede helbredsundersøgelse: urin- og blodprøver, EKG (hjertekardiogram), lungefunktionstest og klinisk undersøgelse. Undersøgelsen tager ca. 1,5 timer og koster 3500 kr.<br>
                  <b>OBS:</b> Du skal selv sørge for at få foretaget en røntgenundersøgelse af dine lunger inden undersøgelsen. Denne foretages på en røntgenafdeling/klinik.<br>
              <p class="lead fs-8 mb-3 mb-xl-5"> 
                <h5>Hvad du skal medbringe?</h5>
                <li>Billedelegitimation som pas eller kørekort.
                <li>Du skal have udprintet og medbragt dine informationer om indlæggelser og mediciner fra Sundhed.dk. <a href="https://www.sundhed.dk/borger/min-side/min-sundhedsjournal/journal-fra-sygehus/">Print din journal her</a>.
                <li>Briller, hvis haves
                <li>Obs: Medbring erhvervsdykkerbevis ved fornyelsesundersøgelse og udvidet herbredsundersøgelse.
                </li>
                  </li>
                  </ul>
                  </p>
                </p>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}