{% extends 'base.html'%}
{% block title %} Om {% endblock %} 

{% block content %}
    <title>Om Lægen</title>
<!-- About 2 - Bootstrap Brain Component -->
    <div class="row gy-3 gy-md-4 gy-lg-0 align-items-lg-center">
      <div class="col-12 col-lg-6">
        <img class="img-fluid rounded" loading="lazy" src="static/wintersurvival.jpg" alt="Winter Survival">
        <img class="img-fluid rounded" loading="lazy" src="static/roald_norwegianairforce.jpg" alt="Norwegian Air Force">
      </div>
      <div class="col-12 col-lg-6">
        <div class="row justify-content-xl-center">
          <div class="col-12 col-xl-10">
            <h3 style="padding-top: 4%;" class="mb-3">Om lægen</h3>
              <h5>I praksis</h5>
              Roald Angen er AME ("Authorized Medical Examiner") og har autorisation fra Statens Luftfartsvæsen til at foretage flyvemedicinske undersøgelser.<br>
              Er specialist i almen medicin, flyvelæge, dykkerlæge og petroleumslæge (offshore).<br>
              Har haft privat lægepraksis i Sakskøbing siden 1997. <br>
              Praksisen er akkrediteret i 2016, og har alt af moderne udstyr.<br>
              Der findes gode parkeringsforhold og med enkel tilkørsel fra motorvejen.</p>

              <p class="lead fs-8 mb-3 mb-xl-5">
                <h5>Flyvemedicinsk erfaring</h5>
                Godkendt af Trafik og Byggestyrelsens certificeringer i henhold til JAR FCL 3`s + EASA regler. <br>
                Har den flyvemedicinske erfaring og interesse fra det Norske Flyvevåben. <br>
                Erfaring fra SAR og arbejde med Sea King redningshelikoper, 330 Skv Norge. Militær officersuddannet.<br>
                Erfaring med "Winter Survival" for taktisk militært personel. <br>
                Jægerkorpset - Luftkrigsskolen, tilknyttet Norges Flyvevåben. <br>
                Kursus i flyvemedicin fra det Norske Luftforsvar og Statens Luftfartsvæsen Danmark. <br>
                Kursus i faldskærmudspring.
                Diverse internationale kurser i flyvemedicin.</p>
                <p class="lead fs-8 mb-3 mb-xl-5">
                <h5>Dykkermedicin/Offshore medicin</h5>
                  Har tilladelse til at certificere erhvervsdykkere (Søfartstyrelsen), men også certificeringer til den Britiske og Norske kontinentalsokkel,
                  samt offshore arbejde som petroleumslæge.<br> 
                  Delegeret af Helsetilsynet i Norge, samt Center for Maritim Medicin ved Universitetet i Bergen.<br>
                  Dykkercertifikat siden 1980.<br>
                  Har interesse for baromedicin.<br>
                  Dansk Dykkermedicinsk certificeret ved kursus på Holmen, København.<br>
                  Praktisk dykkererfaring fra Norge.</p>
          </div>
        </div>
      </div>
    </div>

{% endblock %}