{% extends 'base.html'%}
{% block title %} Om {% endblock %} 

{% block content %}
    <title>Om Lægen</title>
<!-- About 2 - Bootstrap Brain Component -->
    <div class="row gy-3 gy-md-4 gy-lg-0 align-items-lg-center">
      <div class="col-12 col-lg-6">
        <img class="img-fluid rounded" loading="lazy" src="static/SeaKing330.jpg" alt="SeaKing">
      </div>
      <div class="col-12 col-lg-6">
        <div class="row justify-content-xl-center">
          <div class="col-12 col-xl-10">
            <h2 style="padding-top: 4%;" class="mb-3">Om lægen</h2>
            <p class="lead fs-8 mb-3 mb-xl-5">Roald Angen er AME ("Authorized Medical Examiner"), og har autorisation fra Statens Luftfartsvæsen
              (SLV, nu Trafik og Byggestyrelsen) til at foretage flyvemedicinske undersøgelser.
              Er specialist i almen medicin, flyvelæge, dykkerlæge og petroleumslæge - offshore - og har haft privat lægepraksis i Sakskøbing siden 1997. 
              Praksisen er akkrediteret 2016 Har alt af udstyr, moderne klinik. Gode parkeringsforhold, enkel tilkørsel fra motorvejen.</p>
              <p class="lead fs-8 mb-3 mb-xl-5">Flyvemedicinsk erfaring:
                Godkendt af Trafik og Byggestyrelsens certificeringer i hh. til JAR FCL 3`s + EASA regler. Har den flyvemedicinske erfaring
                og interesse fra det Norske Flyvevåben. Erfaring fra SAR arbejde med Sea King redningshelikoper, 330 Skv Norge.
                Militær officersuddannet. Erfaring med "winter survival" for taktisk militært perssonel. Jægerkorpset - Luftkrigsskolen,
                tilknyttet Norges Flyvevåben. Kursus i flyvemedicin fra Norske Luftforsvar og SLV Danmark. Kursus i faldskærmudspring.
                Diverse internationale kurser i flyvemedicin.</p>
                <p class="lead fs-8 mb-3 mb-xl-5">Dykkermedicin: Offshore medicin:
                  Har tilladelse til at certificere erhvervsdykkere (Søfartstyrelsen), men også certificeringer til den Britiske og Norske kontinentalsokkel,
                  samt offshore arbejde petroleumslæge. Delegeret af Helsetilsynet i Norge, samt center for maritim medicin ved Universitetet i Bergen.
                  Dykkercertifikat siden 1980. Har interesse for baromedicin. Dansk Dykkermedicinsk sertificeret ved kursus på Holmen, KBH.
                  Praktisk dykker erfaring fra Norge.</p>
          </div>
        </div>
      </div>
    </div>

{% endblock %}