{% extends 'base.html'%}
{% block title %} Persondatapolitik {% endblock %} 

{% block content %}
    <title>Persondatapolitik</title>
  <h2 style="padding-top: 4%; float: right; padding-right: 30%;" class="mb-3">Persondatapolitik</h2><br>

 <img src="static/personalepolitik.jpg" height="250px">

    <p><h5>1.Dataansvarlig</h5>
    Roald Angen er ansvarlig for, at behandling af personoplysninger sker i overensstemmelse med lovgivningen.<br> <br>
    
    <h5>2. Kontaktoplysninger</h5>
    Airdivedoc.dk<br>
    Lægehuset Sakskøbing.<br>
    Juniorsgade 35, 4990 Sakskøbing<br>
    CVR.nr.: 39633930<br>
    Telefon: (+45) 20664621<br><br>
    E-mail: rasax@dadlnet.dk<br>
    SMS: (+45)20664621<br><br>
    
    <h5>3. Registrerede persondata og håndtering i relation til flyvemedicinske undersøgelser (DK/AME/44):</h5>
    
        Fra klienterne indhentes: Cpr-nr., navn, tidligere navn, adresse, telefonnr., mailadresse, certifikat nummer, stillingsbetegnelse, oplysninger om egen læge samt helbredsoplysninger i henhold til den til enhver tid gældende "Application form for a Medical Certificate" udgivet af Trafik-, Bygge og Boligstyrelsen.<br>
        
        "Application form for a Medical Certificate" udfyldes af klienten som hovedregel forud for konsultation, medbringes i papirformat og underskrives af klienten og flyvelægen ved konsultationen.<br>
        
        Er der tale om en ansøgning af førstegangsudstedelse indhentes oplysninger fra FMK og ansøgeren medbringer udskrift fra sundhed.dk. Hvis relevant for dokumentation gemmes oplysninger elektronisk og vil indgå som en del af det samlede journalmateriale.<br>
        
        Ved behov for yderligere materiale, f.eks. fra praktiserende speciallæger, offentlige eller private sygehuse, er det klientens opgave at fremskaffe disse oplysninger.<br>
        Det er klientens ansvar, at overleveringen foregår uidentificerbart, typisk ved personlig fremmøde eller ved fremsendelse pr. brev.<br>
        
        Under konsultationen sammenholdes data og berigtiges således, at der ikke sker forveksling/forbytning af data.<br>
        
        Ved behov for fremsendelse af cpr. nummer foregår dette "splittet" ved at de første 6 cifre fremsendes pr. mail, og de sidste 4 cifre fremsendes på sms umiddelbart efter (inden for 1 minut).<br>

        Både modtagercomputer og mobiltelefon er forsynet med adgangskode.<br><br>
    
        Under konsultationen foretages en objektiv undersøgelse, og resultaterne nedskrives i den til enhver tid gældende "Medical Examination Report" udgivet af Trafik-, Bygge og Boligstyrelsen.<br>
        
        Såfremt klienten opfylder de helbredsmæssige krav for det ansøgte Medical Certificate, udstedes det til en hver tid gældende "Medical Certificate", udgivet af Trafik-, Bygge og Boligstyrelsen. <br>
        
        Originalen medgives klienten, mens en kopi gemmes som en del af journalmaterialet.<br>
        
        Opfylder klienten ikke de helbredsmæssige krav for det ansøgte Medical Certificate, udfærdiges det til en hver tid gældende "Assessment Decision Skema", udgivet af Trafik-, Bygge og Boligstyrelsen.<br>
        
        Hvis foreskrevet optages EKG og audiometri. Dokumenterne gemmes elektronisk.<br>
        
        Efter konsultationen genereres pdf-dokumenter, som fremsendes krypteret til Trafik-, Bygge og Boligstyrelsen via Virk.dk.<br>
        
        Kun dokumenter fra seneste konsultation gemmes i papirformat, resten destrueres.<br>
        
        Alle data gemmes på computer med adgangskode.<br>
        
        Journaldata slettes efter udløb af opbevaringsperioden på 10 år i henhold til Journalføringsbekendtgørelsens §15 er udløbet. <br>
        Opbevaringsperioden løber fra den seneste optegnelse i journalen. <br>
        Journaler af betydning for en klage-, tilsyns-, eller erstatningssag skal opbevares, så længe vedkommende sag verserer efter opbevaringsperiodens udløb.<br>
        
        Roald Angen er ansvarlig for sletning og destruering af data.<br>
        
        Forud for konsultationen oplyses klienten pr. mail om:<br>
            Hvorledes cpr. nummer skal fremsendes "splittet" på to forskellige medier (første 6 cifre pr. mail og de sidste 4 cifre som sms indenfor max 1 min).<br>
            Fremsendte kopier pr. mail ikke må indeholde identificerbare data, dvs. cpr-nummer og navn skal være dækket under kopiering.<br>
            Retten til indsigt i arkiverede data og at data til enhver tid kan kræves slettet, hvis ikke andet er foreskrevet ved lov.<br><br>
    
    <h5>4. Hjemmeside</h5>
        Klinikkens hjemmeside er http:/www.airdivedoc.dk<br><br>
    
    <h5>5. Personaledata</h5>
        Airdivedoc.dk er et enkeltmandsfirma og har ingen ansatte.<br><br>
    
    <h5>6. Dine rettigheder</h5>
        Du har ret til at få indsigt i, hvilke personoplysninger vi behandler om dig.<br>
        Du har ret til at få berigtiget og ajourført de personoplysninger, vi har registreret om dig.<br>
        Du har ret til at få slettet alle registrerede personoplysninger, som vi ikke efter lovgivning er pålagt at skulle gemme.<br>
        Er behandlingen af personoplysninger baseret på et samtykke fra dig, har du ret til at trække samtykket tilbage, hvilket betyder, at behandling af personoplysninger herefter ophører, medmindre vi efter lovgivning er pålagt at skulle behandle personoplysningerne.<br><br>
    
    <h5>7. Sikkerhed</h5>
        Lægen/ejeren af Airdivedoc.dk har tavshedspligt. Tavshedspligten er lovbestemt (Forvaltningslovens § 27 og Straffelovens § 152ff.) Tavshedspligten gælder også efter eventuel nedlæggelse eller overhændelse af Aeromed.dk.<br>
        Indhentning og videregivelse af nødvendige oplysninger foregår i henhold til gældende lovgivning vedrørende datasikkerhed.<br><br>
    
    <h5>8. Opbevaring af og adgang til personhenførbare data</h5>    
        Opbevaring af personhenførbare data sker udelukkende på en måde, som er beregnet og sikret til formålet.<br><br>
        Personhenførbare data, som ikke er elektroniske, opbevares utilgængeligt for uvedkommende<br>
        Adgang til og brug af personhenførbare informationer i det elektroniske system er sikret via adgangskode.<br>
    <br>
    <h5>9. Klageinstans</h5>
        Du har mulighed for at klage over vores behandling af personoplysninger om dig til Datatilsynet. Se kontaktoplysninger og mere om klageadgang her: http://www.datatilsynet.dk<br><br><br>
    
    
    Dr. Roald Angen<br>
    
    Aeromedical Examiner, Aut. nr. AME 44<br>
    Diploma in Aviation Medicine<br>
    Speciallæge allmemedicin<br>
    Tlf.: (+45) 20664621<br>
    CVR: 39633930<br>
    </p>
  
  </div>
 {% endblock %} 

