{% extends 'base.html'%}
{% block content %}
    <title>Pilot</title>

<!-- About 2 - Bootstrap Brain Component -->
    <div class="row gy-3 gy-md-4 gy-lg-0 align-items-lg-center">
      <div class="col-12 col-lg-6">
        <img class="img-fluid rounded" loading="lazy" src="static/læge_about.jpg" alt="Læge">
      </div>
      <div class="col-12 col-lg-6">
        <div class="row justify-content-xl-center">
          <div class="col-12 col-xl-10">
            <h2 class="mb-3">Pilot</h2>
            <p class="lead fs-8 mb-3 mb-xl-5">
            <h6>Jeg udfører alle flyvemedicinske undersøgelser, herunder:</h6> 
              Class 1 og Class 2, LAPL, CC inkl. kabineansatte, ballon, privatfly osv.<br>
              <h6><br>Angående Class 2:<br></h6> Helbredskrav til PPL, glider, UL, AFIS, CA og ballon er identiske i Danmark. Helbredskravene ses i BL 6-05 og JAR-FCL 3(Medical). Det drejer sig om A-, A/I-, S-, CA-, UL-, AFIS- og balloncertifikat. <br>
              Undersøgelserne udføres i henhold til EASA’s 3 regler.<br>
              <br>
              <h6>Jeg udfører dog ikke nedenstående:<br></h6> 
              Førstegangsundersøgelser / APSIRANT-undersøgelser til Class 1 og Class 3/ATCO. Der henvises til flyvemedicinsk klinik.
              </p>
              <p class="lead fs-8 mb-3 mb-xl-5">
                <h4>Pilotundersøgelser og priser (inkl. moms)</h4>
                <h6>Class 1:</h6>
                Fornyelse: 1900,00 kr.<br>
                EKG: 500,00kr.<br>
                Audiogram: 500,00 kr.<br>
                <br>
                <h6>Class 2:(Privat Pilot)</h6>
                Førstegangsundersøgelse: 2000,00 kr.<br>
                Fornyelse: 1300,00 kr.<br>
                EKG: 500,00 kr.<br>
                Audiogram: 500,00 kr.<br>
                <br>
                <h6>CC: (Stewardesse/steward)</h6>
                Førstegangsundersøgelse:1700,00 kr.<br>
                Fornyelse: 1300,00 kr.<br>
                <br>
                <h6>LAPL:</h6>
                Førstegangsundersøgelse: 1700,00 kr.
                Fornyelse: 1300 kr.
                <br>
                <br>
                </p>
                <p class="lead fs-8 mb-3 mb-xl-5"><h4>Fornyelsesundersøgelse piloter</h4>
                  Fornyelsesundersøgelsen skal foretages hvert 5. år, indtil du er fyldt 40år. Herefter hvert 2. år, indtil du er fyldt 50år. Herefter, hvert år.<br>
                  Se priser i prislisten ovenfor.<br>
                  Undersøgelsen inkluderer blodprøver og lungefunktionstest. <br>
                  Ved tilvalg af EKG: EKG skal udføres hvert 2. år efter at du er fyldt 40 år, og hvert år efter at du er fyldt 50 år. <br><br>
                  Hvis undersøgelsesresultatet viser, at du fortsat opfylder de helbredsmæssige krav, får du fornyet dit ”Medical”. <br>
                  <br>
                <h6>Hvis de flyvemedicinske krav og helbredskravene ikke er opfyldt</h6>
                  Hvis kravene ikke er opfyldt, bliver dit ”Medical” ikke fornyet. Du vil få en beskrivelse af, hvad der ikke er i orden samt hvad der kræves for at det er i orden, med til din egen læge, til øre- eller øjenlæge, alt afhængigt af hvad der er galt. 
                  
                  Når forholdene er bragt i overensstemmelse med de flyvemedicinske krav, følger en flyvemedicinsk konsultation hos Roald Angen, hvor ”Medical” udstedes eller hvor sagen sendes videre til luftfartslægen hos Trafikstyrelsen, alt efter hvordan forholdene ligger.
                  </p>
                  <p class="lead fs-8 mb-3 mb-xl-5"> 
                    <h3>Hvad du skal medbringe?</h3>
                    <h6>Ved førstegangsundersøgelse skal du medbringe:</h6>
                    <ul>
                      <li>En kort beskrivelse fra egen læge om at du er rask. Ved sygdom eller lignende, skal dette også beskrives. Denne konsultation hos egen læge, er noget du selv skal aftale.
                      <li>Du skal have udprintet og medbragt dine informationer om indlæggelser og mediciner fra Sundhed.dk. <a href="https://www.sundhed.dk/borger/min-side/min-sundhedsjournal/journal-fra-sygehus/">Print din journal her</a>.
                      <li>Et udfyldt, men ikke indsendt, ansøgningsskema om Medical Certificate. Et tomt skema kan downloades her: <a href="https://www.trafikstyrelsen.dk/media/14705/Application form for a medical certificate CL 1 2 LAPL.pdf"> Udfyld her</a>
                      <li>Billedelegitimation som pas eller kørekort.
                      <li>Dit seneste Medical Certificate.
                      <li>Din logbog eller oversigt over samlede antal flyvetimer samt timer siden seneste lægeundersøgelse.
                      <li>Hvis bruges, briller/kontaktlinser med recept/udskrift over styrke, etc. OBS: Ønsker du at blive undersøgt med hårde kontaktlinser, må disse ikke benyttes i 48 timer før undersøgelsen.
                      <li>Øvrige nyttige oplysninger og downloads, se Trafikstyrelsens hjemmeside. 
                      </li>
                      </ul>
          
                  </p>
                    <p class="lead fs-8 mb-3 mb-xl-5">
                    <h3>Specielt vedrørende synet</h3>
Erhvervspiloter og flyveledere med brydningsfejl på 3 dioptrier eller mere, og øvrige med brydningsfejl på 5 dioptrier eller mere,
skal forud for undersøgelsen ses af en af luftfartsmyndigheden godkendt øjenlæge.<br>
For at jeg skal kunne udstede Medical Cerfiticat, skal øjenlægen have udfyldt denne formular- Tryk her (MANGLER). <br>
Denne skal medbringes og være udfyldt ved den flyvemedicinske undersøgelse.<br>

                      <p class="lead fs-8 mb-3 mb-xl-5">
                      <h3>Specielt vedrørende hørelse</h3>
                        Angående audiometri, bemærk da at for Class 1 og Class 2 med IR, kan audiogram være udløbet (det ses på den tidligere Medical).
                         Nyt audiogram skal rekvireres på forhånd hos en ørelæge, og en kopi af kurven medbringes ved fornyelsesundersøgelsen.
                        
                        Audiometri kræves ved:
                        <ul>
                          <li>Class 1: hvert 5 år under 40 år og hvert 2 år over 40 år.
                          <li>Class 2: hvert 5 år ved instrument, dog såfremt i kommer med høreprøve + audiometritest fra ØNH-læge er det ok. Det vil sige, at skal du have fornyet en Class 1 el 2, og der er behov for audiometri, skal dette medtages fra ørelæge. Dette skal i selv sørge for.
                          <li>Undersøgelse kan foretages op til 45 dage for udløbsdatoen uden at det påvirker næste udløbsdato.
                          </li>
                        </p>
                      </p>
          </div>
        </div>
      </div>
    </div>
  {% endblock %}