{% extends 'base.html'%}
{% block content %}

<head>
    <title>Registrer dig i bookingsystemet</title>
</head>
<body>
<div class="container">
  <form action="/register" method="post">
  <div class="mb-3">
    <label for="Username" class="form-label">Brugernavn</label>
    <input type="text" class="form-control" id="Username" name="username">
  </div>
  <div class="mb-3">
    <label for="Password" class="form-label">Password</label>
    <input type="password" class="form-control" id="Password" name="password">
  </div>
  <button type="submit" class="btn btn-primary">Registrér</button>
</form>
</div>
</body>
 
{% endblock %}