{% extends 'base.html'%}
{% block content %}
    <title> Søfartslæge </title>
   
<!-- About 2 - Bootstrap Brain Component -->
  <div class="row gy-3 gy-md-4 gy-lg-0 align-items-lg-center">
    <div class="col-12 col-lg-6">
      <img class="img-fluid rounded" loading="lazy" src="static/læge_about.jpg" alt="Læge">
    </div>
    <div class="col-12 col-lg-6">
      <div class="row justify-content-xl-center">
        <div class="col-12 col-xl-10">
          <h2 style="padding-top: 4%;" class="mb-3">Søfarende</h2>


          <p class="lead fs-8 mb-3 mb-xl-5"> 
            <h5>Sundhedsbeviser for søfarende.</h5><br> Som søfartslæge udpeget af Søfartsstyrelse, udfærdiger jeg sundhedsbeviser for søfarende (”Blå blog”). <br><br>
            
          <b><u>Medbring:</u></b><br>
          • Billede legitimation f.eks. søfartsbog, pas eller kørekort. <br><br>
          • Evt. urinprøve (kan også laves på stedet).<br><br>
          • Sundhedsbeviser fra tidligere, hvis haves. <br><br>
          • Helst kontanter til betaling, men man kan også bruge Mobilepay. <br><br>

          </p>
        </div>
      </div>
    </div>
  </div>
  
{% endblock %}