{% extends 'base.html' %}
{% block content %}

    <title>Tidsbestilling</title>

<!-- About 2 - Bootstrap Brain Component -->
      <div class="row gy-3 gy-md-4 gy-lg-0 align-items-lg-center">
        <div class="col-12 col-lg-6">
          <img class="img-fluid rounded" loading="lazy" src="static/læge_about.jpg" alt="Læge">
        </div>
        <div class="col-12 col-lg-6">
          <div class="row justify-content-xl-center">
            <div class="col-12 col-xl-10">
              <h2 style="padding-top: 4%;" class="mb-3">Tidsbestilling</h2>
              <p class="lead fs-8 mb-3 mb-xl-5">Der er 2 muligheder for bestilling af tid til undersøgelse. Alle undersøgelser foregår på Lægehuset i Sakskøbing

                Mulighed 1:(den enkleste og hurtigste) Anbefales.
                Jeg har tider på faste dage, se datoer nedenfor.
                Kontakt mig rasax@dadlnet.dk
                
                Her skal EKG medbringes - dette får i aftale i god tid med egen læge- eller andensteds og medbringe hertil
                
                Send mig en mail på rasax@dadlnet.dk og du får en tid hos mig.
                Undersøgelsen tager ca 60 min.
                Her betales cash mod regning.-evt MobilPay.
                
                
                Undersøgelsesdatoer: 2020.</p>
                <p class="lead fs-8 mb-3 mb-xl-5">Mulighed 2:
                    Ringe min sekretær 54704636 og få en tid på min "normale" arbejdsdag på Lægehuset.
                    Vi tager da EKG og urinprøve, her i huset, samt en HB (blodprocent.)
                    Der afsættes ca 60 min til undersøgelse. Betaling : Dankort.</p>
                    <p class="lead fs-8 mb-3 mb-xl-5">HVAD SKAL MEDBRINGES:

                        Medbring ved FØRSTEGANGSUDSTEDELSE eller syge/raskmelding dine data om indlæggelser og medicin fra Sundhed.dk - printes ud -..-SKAL GØRES!! Hent her
                        
                        Ved førstegangsundersøgelser også en kort udtalelse fra egen læge om at du er rask!..En konsultation hos egen læge er noget du selv aftaler.
                        - Et udfyldt - men ikke indsendt ansøgningsskema om Medical Certificate.
                            Et tomt skema kan downloades ved at trykke her Helbredsarket fra Trafikstyrelsen
                        
                        
                        
                        - Fotolegitimation (pas eller kørekort)
                        - Dit seneste Medical Certificate.
                        - Din logbog eller oversigt over samlede antal flyvetimer samt timer siden seneste lægeundersøgelse.
                        - Eventuellle briller/kontaktlinser med recept/udskrift over styrke, etc.
                        - Ønsker du at blive undersøgt med hårde kontaktlinser, må disse ikke benyttes i 48 timer før undersøgelsen.
                        - Øvrige nyttige oplysninger og downloads - se TBST hjemmeside.
                        </p>
            </div>
          </div>
        </div>
      </div>

{% endblock %}