{% extends 'base.html' %}
{% block content %}

    <title>Tidsbestilling</title>

<!-- About 2 - Bootstrap Brain Component -->
      <div class="row gy-3 gy-md-4 gy-lg-0 align-items-lg-center">
        <div class="col-12 col-lg-6">
          <img class="img-fluid rounded" loading="lazy" src="static/tidsbestilling_fane.jpg" alt="Tidsbestilling">
        </div>
        <div class="col-12 col-lg-6">
          <div class="row justify-content-xl-center">
            <div class="col-12 col-xl-10">
              <h3 style="padding-top: 4%;" class="mb-3">Tidsbestilling</h3>
              
                <h6>Der er 2 muligheder for bestilling af tid til undersøgelse.</h6>
                 Alle undersøgelser foregår på Lægehuset i Sakskøbing.<br><br>

                <h5>Mulighed 1</h5>
                Anbefales. Det er den enkleste og hurtigste.<br>
                Jeg har tider på faste dage, se nedenfor.<br>
                Kontakt mig på rasax@dadlnet.dk<br>
                <b>Obs:</b> EKG skal medbringes. Dette aftaler du selv med egen læge, eller andensteds, og medbringer hertil.<br><br>
                
                Send mig en mail på rasax@dadlnet.dk og du får en tid.<br>
                Undersøgelsen tager ca. 60 min.<br>
                Her betales kontant mod regning, eller Mobilepay.<br>
                
                <p class="lead fs-8 mb-3 mb-xl-5">
                <h5>Mulighed 2</h5>
                    Ring min sekretær på tlf: 54704636 og få en tid på min "normale" arbejdsdag på Lægehuset.<br>
                    Så tager vi her i huset et EKG og en urinprøve, samt en Hæmoglobin (blodprocent).<br>
                    Der afsættes ca. 60 min til undersøgelsen.<br>
                    Betaling med Dankort.</p>



                    <p class="lead fs-8 mb-3 mb-xl-5">
                      <h5>Hvad skal du medbringe?</h5>
                      Se specifikt under 'ervices' hvad du skal medbringe til de enkelte undersøgelser. 
                        </p>
            </div>
          </div>
        </div>
      </div>

{% endblock %}